<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nyu.db.projServer.mapper.CorporationMapper">

    <insert id="insert" useGeneratedKeys="true"  parameterType="com.nyu.db.projServer.model.Corporation">
        INSERT INTO corporation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="null != registNo and '' != registNo">
                regist_no,
            </if>
            <if test="null != name and '' != name">
                `name`
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="null != registNo and '' != registNo">
                #{registNo},
            </if>
            <if test="null != name and '' != name">
                #{name}
            </if>
        </trim>
    </insert>

</mapper>
